:root {
    --white: #F5F3F5;
    --black: #302B27;
    --trueblue: #576CA8;
    --blue: #274690;
    --space: #1B264F;
}

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: "Tenor Sans", sans-serif;
}

#name {
    font-size: 32px;
}

header {
    position: sticky;
    top: 0;
    background: var(--space);
    color: var(--white);
}

.container {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
}

nav {
    flex: 0;
    display: flex;
    margin: auto 0;
}

.link {
    font-size: 20px;
    padding: 0 20px;
}

#about > p{
    font-size: 18px;
}

.row {
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    font-size: 40px;
}

.icon {
    max-height: 55px;
}

.icon-display {
    display: flex;
    text-align: center;
}

.icon-display > p {
    margin-right: auto;
}